.main-footer {
  background-color: $light-gray;
}

.main-footer__navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1173px;

  @include list-reset;
  padding-left: 10px;

  @include centered-layout;

  font-weight: 600;
}

.main-footer__navigation-item {
  margin-right: 66px;
  padding-top: 30px;
  padding-bottom: 30px;

  &:nth-of-type(7n) {
    margin-right: 0;
  }
}

.main-footer__navigation-link {
  color: $accent-black;

  @include basic-hover;
  @include basic-active;
}
